{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
<form method="post">
{% csrf_token %}
    <label for="lpu">Название ЛПУ:</label>
<input type="lpu"  name="lpu" value="{{ object.lpu }}" readonly>
    <label for="lpu">Цех:</label>
 <input type="text" name="lpu" value="{{ object.department }}" readonly>
     <label for="lpu">ГПА:</label>
 <input type="text" name="lpu" value="{{ object.gpa_number }}" readonly>
    <label for="lpu">Имя ИП:</label>
 <input type="text" name="lpu" value="{{ object.n_ip }}" readonly>


{{ form.as_p }}


<input type="submit" value="отметить">
</form>
<style>

    form {
 display: inline-block;
  width: 150px;
  text-align: left;
  margin-right: 10px;


}



</style>

{% endblock %}

