{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'back/css/style.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/bootstrap2.min.css' %}">
{% endblock %}
{% block content %}
<form action="{% url 'events' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    <table class="table table-bordered">

      <thead>
        <tr>
          <th>Станция</th>
          <th>Номер ГПА</th>
          <th>Модификация САУ</th>
          <th>План</th>
          <th>Выполнено</th>
          {% for f in form %}
            <th>{{ f.label }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
      {% for e in even %}
          <tr>
            <td>{{ e.station }}</td>
            <td>{{ e.gpa_number }}</td>
            <td>{{ e.sau_modifications }}</td>
            <td>{{ e.plan }}</td>
            <td>{{ e.complete }}</td>
            {% for f in form %}
              <td>{{ f }}</td>
            {% endfor %}
          </tr>
      {% endfor %}

      </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Добавить</button>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
    {% endif %}
</form>
{% endblock %}

